<!DOCTYPE html>
<html>

<head>

<title>Admin Panel</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
padding:40px;
}

textarea{
width:100%;
font-family:monospace;
}

button{
background:#38bdf8;
border:none;
padding:10px 20px;
cursor:pointer;
}

</style>

</head>

<body>

<h1>Admin Coding Panel</h1>

<form method="POST" enctype="multipart/form-data">

<h3>Write Python Code</h3>

<textarea name="code" rows="15"></textarea>

<h3>Select Output Image</h3>

<input type="file" name="image">

<br><br>

<button type="submit">Publish Post</button>

</form>

</body>

</html>
